*
{
margin: 0 auto;
padding:auto;
}
 
a:link
{
text-decoration:none;
}
 
a:visited
{
text-decoration:none;
}
 
html
{
background-color:#eeeeee;
}
 
body
{
width:1024px;
margin: auto;
border-left:1px solid #004d99;
border-right:1px solid #004d99;
min-height:659px;
}
 
#header
{
height:120px;
background-color:#004d99
}
 
input
{
margin-top: 2px;
margin-bottom:  2px;
}

textarea
{
margin-top: 2px;
margin-bottom:  2px;
}

h1 a
{
padding-left:50px;
padding-top:40px;
letter-spacing:4px;
font-style:italic;
color:white;
line-height:80px;
}
 
#menu ul
{
list-style-type:none;
}
 
#menu li
{
display:inline-block;
padding-top:20px;
}
 
#menu a
{
border:1px solid #004d99;
padding:6px;
color:black;
}
 
#menu a:hover
{
background-color:white
}
 
#content
{
height:439px;
padding-top: 20px;
padding-left: 40px;
background-color: #f9f9f9;
}
 
#content p
{
padding:26px;
}
 
#content p:first-letter
{
font-size:111%;
font-weight:bold;
}
 
#footer
{
height:100px;
background:#004d99;
color: white;
}
 
#footer p
{
text-align:center;
line-height:30px;
}
 
#footer a
{
color:white;
font-style:italic
}
.menu-1 
{
	background: #433b8f;
}
.menu-2 
{
	background: #0184cd;
}
.menu-3 
{
	background: #7cbc19;
	margin-left: 4px;
}
.menu-4 
{
	background: #ffbc00;
	margin-left: 40px;
}
.menu-5 
{
	background: #f07502;
}
.menu-6 
{
	background: #d00110;
}
.menu-7 
{
	background: #990000;	
}
.menu-8 
{
	background: green;	
}
.dbbutton 
{
	background: #C0C0C0;
	margin-left: 4px;		
}

#komunikat 
{
	background-color: #ff8000;
	border: solid 2px orange;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.db-red 
{
	background-color: #f07502;
	color: black;
}
.db-green 
{
	background-color: lightgreen;
	color: black;
}
